body{
    text-align: center;
}
table{
    width: 10%;
}
.in_book{
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}
.search{
    background-color: blanchedalmond;
    text-align: center;
    border: solid 1px;
    margin: 1%;
    padding: 1%;
}

.search p{
    font-weight: bold;
}

.books_table {
    display: inline-table;
    width: 90%;
    margin: 1%;
    padding: 1%;
}

.table_header{
    background-color: rgb(137, 99, 211);
    color: white;
}

.books_table table {
    width: 100%;
    /* テーブルの幅いっぱいに広げる */
    border-collapse: collapse;
    /* セルの境界線が重ならないようにする */
}

/* 一つ目の列の幅を指定 */
td:first-child,
th:first-child {
    width: 30px;
    border: 1px solid black;
    /* 親要素の幅の1/4 */
}

/* 二つ目以降の列の幅を均等に分割 */
td:not(:first-child),
th:not(:first-child) {
    width: calc((100% -30px) / 4);
    border: 1px solid black;
    /* 残りの幅を4等分 */
}

tbody {
    background-color: aliceblue;
}